<h3><i class="fas fa-book-reader"> StoryBooks</i> </h3>
<div class="section">
    <p class="lead">Create private and public stories from your life<i class="fa fa-life-ring" aria-hidden="true"></i>
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken1">
        <i class="fab fa-google left"> Login with google</i>
    </a>
</div>